body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: linear-gradient(144deg, #004e92,#5b86e5 , #5b42f3 50%, #00ddeb);
    
    
}

.message-box
{
  display: none;
  height: 75px;
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: #000;
  padding: 20px; 
}

#validation-box {

  background: #2f04f2;
  border: 3px solid #f3f2f2;
  padding: 10px;
  text-align: center;
  margin: 10px 0;
}


.login {
    width: 240px;
    height: 300px;
    background: #2c2c2c;
    padding: 47px;
    padding-bottom: 57px;
    color: #fff;
    border-radius: 17px;
    padding-bottom: 50px;
    font-size: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .login input[type="text"],
  .login input[type="password"] {
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    padding: 13px 18px;
    margin: 20px 0 0 0;
    font-size: 0.8em;
    border-radius: 100px;
    background: #3c3c3c;
    color: #fff;
  }
  
  .login input:focus {
    animation: bounce 1s;
    
  }
  
  .login input[type=submit],
  .login input[type=button],
  .h1 {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 13px;
    margin: 40px 0 0 0;
    border-radius: 500px;
    font-weight: 600;
    animation: bounce2 1.6s;  
  }
  
  .h1 {
    padding: 0;
    position: relative;
    top: -35px;
    display: block;
    text-align: center;
    margin-bottom: -0px;
    font-size: 1.3em;
   justify-content: center;
  }
  
  .btn {
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    color: #fff;
    padding: 16px !important;
  }
  
  .btn:hover {
    background: linear-gradient(144deg, #1e1e1e , 20%,#1e1e1e 50%,#1e1e1e );
    color: rgb(255, 255, 255);
    padding: 16px !important;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .login input[type=text] {
    animation: bounce 1s;
    
  }
  
  .login input[type=password] {
    animation: bounce1 1.3s;
  }
  
  
  
  @media only screen and (max-width: 600px) {
    .login {
      width: 70%;
      padding: 3em;
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(-250px);
      opacity: 0;
    }
  }
  
  @keyframes bounce1 {
    0% {
      opacity: 0;
    }
  
    40% {
      transform: translateY(-100px);
      opacity: 0;
    }
  }
  
  @keyframes bounce2 {
    0% {
      opacity: 0;
    }
  
    70% {
      transform: translateY(-20px);
      opacity: 0;
    }
  }
  @media only screen and (max-width: 600px) {
    body {
        background: #004e92; 
    }

    .login {
        width: 70%;
        padding: 3em;
    }


}