body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: aliceblue;
    text-align: center;
}

.todo-container {
    background-color: #fff;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    
}

button {
    padding: 10px 20px;
    background-color: #00ff26;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border: 5px solid #00000000;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.delete {
    background-color: #ff4136;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
